{{!--
<form method="post">
    <div class="form-group has-success">

        <label for="example-text-input text-success" class="col-12 col-form-label ">
            <h3 class="text-danger ml-4">Generate New Email</h3>
        </label>

        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2">Username:</h4>
        </label>

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input placeholder="item title" class="form-control" type="text" name="username" id="example-text-input">
        </div>

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 mt-3 ">
            <input class="btn btn-success btn-lg" type="submit" value="Submit">
        </div>

    </div>
</form> --}} {{!--
<h2 class="page-header">Add New User</h2>
{{#if errors}} {{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}} --}}

<form class="m-3">


    <label for="example-text-input text-success" class="col-12 col-form-label ">
        <h3 class="text-danger ml-4">Generate New Email</h3>
    </label>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Firstname:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input required="true" placeholder="Enter your first name" class="form-control" type="text" name="firstname" id="example-text-input">
    </div>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">lastName:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input placeholder="Enter your last name" class="form-control" type="text" name="lastname" id="example-text-input">
    </div>


    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Username:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input placeholder="Enter your username" class="form-control" type="text" name="username" id="example-text-input">
    </div>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">New Wegi Email:</h4>
    </label>

    <div class="row">
        <input class="col-sm-3 ml-5" placeholder="New Wegi Email" class="form-control" type="text" name="currentEmailAddress" id="example-text-input"> 
        <input class="col-sm-2" placeholder="@weegi.com " class="form-control"  disabled> 
    </div>


    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Your Current Email:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input placeholder="Enter your Email" class="form-control" type="text" name="currentEmailAddress" id="example-text-input">
    </div>


    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Password:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input placeholder="password" class="form-control" type="password" name="password" id="example-text-input">
    </div>


    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Confirm password:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input placeholder="Confirm Your password" class="form-control" type="password" name="confirmPassowrd">
    </div>


    <label for="example-text-input text-success " class="col-12 col-form-label mt-3">
        <h4 class="text-primary pl-2">Role:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input  type="radio" name="isAdmin" value="true">Admin
        <input   type="radio" name="isAdmin" value="false">User
    </div>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 mt-4 ">
        <input class="btn btn-success btn-lg" type="submit" value="Submit">
    </div>

</form>