<form class="m-3" method="post">


    <label for="example-text-input text-success" class="col-12 col-form-label ">
        <h3 class="text-danger ml-4">Generate New Email</h3>
    </label>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Firstname:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input id="firstName" required="true" placeholder="Enter your first name" class="form-control" type="text" name="firstname">
    </div>

    <label class="col-12 col-form-label">
        <h4 class="text-primary pl-2">surname:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input id="lastName" required="true" placeholder="Enter your last name" class="form-control" type="text" name="lastname">
    </div>

    <select class="bg bg-info btn-lg m-3" name="departmantSym" id="departmantSymbol" required>
        <option  disabled selected value>--select departmant--</option>

        {{#each data}}
        <option  value="{{this.symbol}}"> {{this.departmant}}</option>
        {{/each}}
    <select>



    <div style="display:none;" id="wegiMailSection">
        <label class="col-12 col-form-label">
            <h4 required="true" class="text-primary pl-2">New Wegi Email:</h4>
        </label>

        <div class="row">
            <input id="wegiMail" required="true" class="col-sm-6 ml-5 bg-danger text-white btn-lg" placeholder="New Wegi Email" class="form-control"
                type="text" name="wegimail" readonly>
        </div>
    </div>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Your Current Email:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input placeholder="Enter your Email" class="form-control" type="text" name="emailAddress" />
    </div>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Username:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input required="true" placeholder="Enter your username" class="form-control" type="text" name="username">
    </div>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Date of birth:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input required="true" placeholder="Enter your username" class="form-control" type="date" name="dateBirth">
    </div>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Password:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input required="true" placeholder="password" class="form-control" type="password" name="password" id="example-text-input">
    </div>


    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Confirm password:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input required="true" placeholder="Confirm Your password" class="form-control" type="password" name="confirmPassowrd">
    </div>

    <label for="example-text-input text-success " class="col-12 col-form-label">
        <h4 class="text-primary pl-2">Phone Number:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input required="true" placeholder="Enter your phone number" class="form-control" type="phoneNumber" name="confirmPassowrd">
    </div>


    <label for="example-text-input text-success " class="col-12 col-form-label mt-3">
        <h4 class="text-primary pl-2">Role:</h4>
    </label>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input type="radio" name="isAdmin" value="true">Admin
        <input type="radio" name="isAdmin" value="false">User
    </div>

    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 mt-4 ">
        <input class="btn btn-success btn-lg" type="submit" value="Submit">
    </div>

</form>

<script>


    document.getElementById('lastName').addEventListener('change', () => {
        let fisrstName = document.getElementById('firstName').value;
        let lastName = document.getElementById('lastName').value;
        let departmantSymbol = document.getElementById('departmantSymbol').value;
        let wegiMailSection = document.getElementById('wegiMailSection');
        let wegiMail = document.getElementById('wegiMail');
        let emailFirstLetter = fisrstName[0].toUpperCase();
        if (fisrstName.length > 0 && lastName.length > 0 && departmantSymbol.length>0) {
            wegiMail.value = emailFirstLetter + lastName + '@it.mclinsoft.biz';
            wegiMailSection.style.display = "block"

        }
           })


        document.getElementById('firstName').addEventListener('change', () => {
        let fisrstName = document.getElementById('firstName').value;
        let lastName = document.getElementById('lastName').value;
        let departmantSymbol = document.getElementById('departmantSymbol').value;
        let wegiMailSection = document.getElementById('wegiMailSection');
        let wegiMail = document.getElementById('wegiMail');
        let emailFirstLetter = fisrstName[0].toUpperCase();
        if (fisrstName.length > 0 && lastName.length > 0 && departmantSymbol.length>0) {
            wegiMail.value = emailFirstLetter + lastName + '@it.mclinsoft.biz';
            wegiMailSection.style.display = "block"

        }
   })

        document.getElementById('departmantSymbol').addEventListener('change', () => {
        let fisrstName = document.getElementById('firstName').value;
        let lastName = document.getElementById('lastName').value;
        let departmantSymbol = document.getElementById('departmantSymbol').value;
        let wegiMailSection = document.getElementById('wegiMailSection');
        let wegiMail = document.getElementById('wegiMail');
        let emailFirstLetter = fisrstName[0].toUpperCase();
        if (fisrstName.length > 0 && lastName.length > 0 && departmantSymbol.length>0) {
            wegiMail.value = emailFirstLetter + lastName + '@'+departmantSymbol+'.mclinsoft.biz';
            wegiMailSection.style.display = "block"

        }
   })

 

</script>