<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<h2 class="text-center text-danger mt-3">Select Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="/user/add"><li>Create New Account</li></a>
        <a href="/user/edit"><li>Edit Accounts</li></a>
   
    </ul>
</div>
